$color-primary : #000;
$color-secondary : #FFF;
$color-primary-gradient : linear-gradient(180deg,#00FF00, #000);
$color-secondary-gradient : linear-gradient(-90deg,#00FF00, #000);
$color-thirdary-gradient : linear-gradient(90deg,#00FF00, #000);
$color-fourthary-gradient : linear-gradient(0deg,#00FF00, #000);
$color-thirdary : #00FF00;

$font-primary : 'Matrix';